[Unit]
Before=systemd-user-sessions.service
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/lib/u-firstbooted-post

[Service]
User=root
Type=oneshot
ExecStart=/usr/lib/u-firstboot/install-post.sh
ExecStartPost=/usr/bin/touch /var/lib/u-firstbooted-post
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
